@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');
/* container */
.App {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  max-width: 400px;
  align-items: center;
  color: white;
}

.App-header {
  width: 100%;
  text-align: left;
}

.header-logo {
  margin: 10px;
}

/* text input */
.fractionInput {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  background-position-x: 5%;
  width: 300px;
  border-radius: 5px;
  font-size: 13px;
  background-size: 20px;
  color: white;
  box-shadow: none;
  height: 2.7rem;
  margin: 15px;
}

/* button */
button {
  cursor: pointer;
  background-color: #ff5722;
  transition: background-color 0.3s;
  border: none;
  border-radius: 2px;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  color: #fff;
  width: 8em;
  height: 2.75em;
  padding: 0.5em 0.7em 0.5em 0.7em;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  outline: none;
}

/* button hover*/
button:hover {
  background-color: #f13700;
}
